In [5]:
# 1. list of integers from 1 to 10
l = []
for i in range(1,11):
    l.append(i)
print(l)
l1 = list(range(1,11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# 2. len of list
cnt = 0
for i in l:
    cnt += 1
print(f"length of list: {cnt}")

length of list: 10

In [18]:
# 3, 4 & 5. Append and insert and remove element from list
l = l1
l.append(11)
print(l)
# insert
l.insert(5, 12)
print(l)
# remove
l.remove(12)
print(l)

[2, 3, 4, 5, 12, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
[2, 3, 4, 5, 12, 12, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
[2, 3, 4, 5, 12, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]

In [20]:
# 6. Remove element by index
l = l1
print(l)
l.pop(6)
print(l)

[2, 3, 4, 5, 12, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
[2, 3, 4, 5, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]

In [23]:
# 7. Check if element exists
print(l)
if 100 in l:
    print("yes")
else:
    print("no")

[2, 3, 4, 5, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
no

In [24]:
# 8. Index of first occurence
print(l)
print(l.index(12))

[2, 3, 4, 5, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
4

In [25]:
# 9. count occurences
print(l)
print(l.count(11))

[2, 3, 4, 5, 12, 12, 6, 7, 8, 9, 10, 11, 11, 11, 11, 11, 11, 11]
7

In [31]:
# 10. reverse the list
print(l)
lr = l[::-1]
print(lr)

[1, 2, 3, 5, 6, 7, 10, 15]
[15, 10, 7, 6, 5, 3, 2, 1]

In [35]:
# 11 & 12. Sort ascending and descending
l = [10,2,1,15,3,5,6,7]
l.sort()
print(f"ascending: {l}")
l.sort(reverse=True)
print(f"descending: {l}")

ascending: [1, 2, 3, 5, 6, 7, 10, 15]
descending: [15, 10, 7, 6, 5, 3, 2, 1]

In [39]:
# 13. Create even from 1 to 20
l = list(range(2,21,2))
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
# 14. Create evodden from 1 to 20
l = list(range(1,20,2))
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
# 15. sum of all elements in list
Sum = 0
for s in list(range(1,11)):
    Sum += s
print(Sum)

55

In [54]:
# 16, 17, 19 - Max and min in list and generate random numbers in list

# 19. Random numbers in list
import random
l = random.sample(range(1,100), 10)
print(l)

# max from list
Max = max(l)
print(f"Maximum: {Max}")

# min from list
Min = min(l)
print(f"Minimum: {Min}")

[55, 59, 89, 84, 43, 23, 91, 33, 17, 11]
Maximum: 91
Minimum: 11

TypeError: 'int' object is not callable

In [55]:
# 18. Square numbers in list
LSquare = []
for n in l:
    LSquare.append(n**2)
print(LSquare)

[3025, 3481, 7921, 7056, 1849, 529, 8281, 1089, 289, 121]

In [56]:
# 20; Remove duplicate from list
l = [1,2,3,4,1,2,3,4,5,3,4,5,6,8]
s = set(l)
l2 = list(s)
print(f"Set: {s}")
print(f"New list: {l2}")

Set: {1, 2, 3, 4, 5, 6, 8}
New list: [1, 2, 3, 4, 5, 6, 8]

In [57]:
# 21. Common elements between two lists
cl = []
for n in l:
    if n in l2:
        cl.append(n)
print(f"Common elements are {cl}")

Common elements are [1, 2, 3, 4, 1, 2, 3, 4, 5, 3, 4, 5, 6, 8]

In [58]:
# 22. Difference between two lists
dl = []
for n in l:
    if n not in l2:
        dl.append(n)
print(f"Difference between two list: {dl}")

Difference between two list: []

In [60]:
# 23. Merge two lists
print(l)
print(l2)
l3 = l + l2
print(l3)
s = set(l3)
l4 = list(s)
print(l4)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 5, 3, 4, 5, 6, 8, 1, 2, 3, 4, 5, 6, 8]
[1, 2, 3, 4, 5, 6, 8]

In [61]:
# 24. Multiply all elements by 2
[n*2 for n in l4]

[2, 4, 6, 8, 10, 12, 16]

In [65]:
# 25. even numbers from list
for n in l4:
    if n % 2 == 0:
        print(n)
        
# comprehension
[n for n in l4 if (n%2 == 0)]

2
4
6
8

[2, 4, 6, 8]

In [67]:
# 27. Convert list of numbers to list of strings
str_list = [str(n) for n in range(1,11)]
print(str_list)

# 26. Convert list of string to list of numbers
num_list = [int(s) for s in range(1,11)]
print(num_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
# 28. Flatten nested list
fl = [1,2,3,[4,5,6], 7,8, [9,10]]
print(fl)
idx = 0
for n in fl:
    if type(n) == type(fl):
        for y in n:
            fl.insert(idx, y)
            idx += 1
        fl.remove(n)
    else:
        idx += 1

print(fl)

[1, 2, 3, [4, 5, 6], 7, 8, [9, 10]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# 29. First 10 Fibonacci numbers
l = list(range(1,11))
print(l)
f = []
f.append(l[0])
f.append(l[1])
for n in range(2,10):
    f.append(f[n-1]+f[n-2])
print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [88]:
# 30. Check if list is sorted
import random
l = random.sample(range(1,50), 10)
print(l)
l2 = sorted(l)
print(l2)

if (l == l2):
    print("sorted")
else:
    print("not sorted")

[5, 43, 31, 33, 36, 44, 7, 6, 26, 39]
[5, 6, 7, 26, 31, 33, 36, 39, 43, 44]
not sorted

In [104]:
# 31 & 32. Rotate the list to left by n position
n = int(input(" Enter position number: "))
print(l2)
# left rotation
left_list = l2[:n]
remain_list = l2[n:]
lr_list = remain_list + left_list
print(lr_list)

# right rotation
right_list = lr_list[-n:]
remain_list = lr_list[:-n]
rr_list = right_list + remain_list
print(rr_list)

 Enter position number:  2

[6, 26, 33, 36, 39, 43, 44, 5, 7]
[33, 36, 39, 43, 44, 5, 7, 6, 26]
[6, 26, 33, 36, 39, 43, 44, 5, 7]

In [110]:
# 33. list of prime numbers upto 50
standard_primes = [1,2,3,5,7]
l = [n for n in range(2,50) if (not(n%2 == 0 or n%3 == 0 or n%5 == 0 or n%7 == 0))]
full_primes = standard_primes + l
print(full_primes)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [120]:
# 34. Split a list into chunks of size `n`.
import math
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
total_len = len(l)
chunked_list = []
n = int(input("Enter chunk size "))
cn = math.floor(len(l)/n)
print(cn)
i = 0
s_idx = 0
e_idx = n
while i < cn and s_idx < total_len and e_idx < total_len:
    child_list = l[s_idx:e_idx]
    chunked_list.append(child_list)
    s_idx = e_idx
    e_idx = e_idx + n
    i += 1

if e_idx > total_len:
    remain_list = l[s_idx:total_len]
    chunked_list.append(remain_list)

print(chunked_list)

Enter chunk size  2

8
[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12], [13, 14], [15, 16], [17]]

In [122]:
# 35. Find 2nd largest
print(l)
l2 = sorted(l)
print(f"second largest: {l2[-2]}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
second largest: 16

In [123]:
# 36 - Replace every element in a list with its square.
[n**2 for n in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]

In [125]:
# 37 - Convert a list to a dictionary where list elements become keys and their indices become values.
print(l)
d = {}
for i in range(0, len(l)):
    d[l[i]] = i
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16}

In [126]:
# 38. Shuffle the elements of a list randomly.
import random
print(l)
new_list = random.sample(l, len(l))
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[14, 13, 9, 2, 16, 3, 17, 11, 12, 8, 4, 7, 1, 5, 6, 15, 10]

In [129]:
# 39. Create a list of the first 10 factorial numbers.
factorial = []
factorial.append(1)
factorial.append(2)
for n in range(3,11):
    factorial.append(n * factorial[n-1-1])
print(factorial)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [132]:
# 40. Check if two lists have at least one element in common.
l1 = [1,3,5,7,9]
l2 = [2,4,6,8,10]
[n for n in l1 if n in l2]

[]

In [133]:
# 41. Remove all elements from a list.
print(l1)
l1.clear()
print(l1)

[1, 3, 5, 7, 9]
[]

In [134]:
# 42. Replace negative numbers in a list with 0.
l = [1,-1,2,-2,3,-3,4,-4]
for i in range(0,len(l)):
    if (l[i] < 0):
        l[i] = 0
print(l)

[1, 0, 2, 0, 3, 0, 4, 0]

In [136]:
# 43 & 44. Convert a string into a list of words.
my_str = "full stack data science pro"
sl = my_str.split()
print(sl)
new_str = ""
for w in sl:
    new_str = new_str + " " + w

print(new_str)

['full', 'stack', 'data', 'science', 'pro']
 full stack data science pro

In [138]:
# 45. Create a list of the first `n` powers of 2.
n = int(input("Enter the value of 'n' : "))
[2**n for n in range(1,n+1)]

Enter the value of 'n' :  5

[2, 4, 8, 16, 32]

In [141]:
# 46. Find the longest string in a list of strings.
print(sl)
lw = 0
word = ""
for w in sl:
    if lw <= len(w):
        lw = len(w)
        word = w
print(f"longest string: {word}")

['full', 'stack', 'data', 'science', 'pro']
longest string: science

In [142]:
# 47. Find the shortest string in a list of strings.
print(sl)
sw = len(sl)
word = ""
for w in sl:
    if sw >= len(w):
        sw = len(w)
        word = w
print(f"shortest string: {word}")

['full', 'stack', 'data', 'science', 'pro']
shortest string: pro

In [147]:
# 48. Create a list of the first `n` triangular numbers.
l = [n for n in range(1,10)]
print(l)
triangular = []
for n in l:
    sum = 0
    for s in range(0,n+1):
        sum += s
    triangular.append(sum)
print(triangular)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [143]:
# 49. Check if a list contains another list as a subsequence.
ll = [1,2,3,[4,5,6], 7,8]
for l in ll:
    if type(l) == type(ll):
        print("list has another list")

list has another list

In [145]:
# 50. Swap two elements in a list by their indices.
l1 = [1,2,3,4,5,6]
m = int(input("Enter first index: "))
n = int(input("Enter second index: "))
l = len(l1)
if m < l and n < l:
    l1[m],l1[n]=l1[n],l1[m]
print(l1)

Enter first index:  3
Enter second index:  4

[1, 2, 3, 5, 4, 6]