In [2]:
# 1. Create a set with integers from 1 to 5.
s=set(range(1,6))
print(s)

{1, 2, 3, 4, 5}

In [3]:
# 2. Add an element to a set.
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [4]:
# 3. Remove an element from a set.
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

In [5]:
# 4. Check if an element exists in a set.
if 2 in s:
    print("2 exists in set")

2 exists in set

In [7]:
# 5. Find the length of a set without using the `len()` function
cnt=0
print(s)
for i in s:
    cnt+=1
print(cnt)

{1, 2, 3, 4, 5}
5

In [8]:
# 6. Clear all elements from a set.
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [9]:
# 7. Create a set of even numbers from 1 to 10.
s_even=set([n for n in range(1,11) if n%2==0])
print(s_even)

{2, 4, 6, 8, 10}

In [10]:
# 8. Create a set of odd numbers from 1 to 10.
s_odd=set([n for n in range(1,11) if n%2!=0])
print(s_odd)

{1, 3, 5, 7, 9}

In [13]:
# 9. Find the union of two sets.
s_union=s_even.union(s_odd)
print(s_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
# 10. Find the intersection of two sets.
s_intersect=s.intersection(s_even)
print(s_intersect)

{2, 4, 6, 8, 10}

In [15]:
# 11. Find the difference between two sets.
s_diff=s.difference(s_even)
print(s_diff)

{1, 3, 5, 7, 9}

In [21]:
# 12. Check if a set is a subset of another set.
if s_even.issubset(s):
    print(f"{s_even} is subset of {s}")

{2, 4, 6, 8, 10} is subset of {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
# 13. Check if a set is a superset of another set.
if s.issuperset(s_even):
    print(f"{s} is superset of {s_even}")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} is superset of {2, 4, 6, 8, 10}

In [23]:
# 14. Create a set from a list.
s1=set(range(1,10))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# 15. Convert a set to a list.
l1=list(s1)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# 16. Remove a random element from a set.
import random
s1=set(range(1,11))
l1=list(s1)
print(l1)
ele=random.choice(l1)
print(ele)
s1.remove(ele)
print(s1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
6
{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [35]:
# 17. Pop an element from a set.
s1.pop()
print(s1)

{2, 3, 4, 5, 7, 8, 9, 10}

In [37]:
# 18. Check if two sets have no elements in common.
print(s_even)
print(s_odd)
if s_even.isdisjoint(s_odd):
    print("There is null intersection")

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
There is null intersection

In [38]:
# 19. Find the symmetric difference between two sets.
s=set(range(1,11))
ss_diff=s.symmetric_difference(s_even)
print(ss_diff)

{1, 3, 5, 7, 9}

In [39]:
# 20. Update a set with elements from another set.
ss_diff.update(s_even)
print(ss_diff)

{1, 2, 3, 4, 5, 6, 7, 9, 8, 10}

In [42]:
# 21. Create a set of the first 5 prime numbers.
prime=[]
l=range(1,20)
for n in range(2,20):
    isprime=True
    for i in range(2,n):
        if n%i == 0:
            isprime=False
            break
    if isprime:
        prime.append(n)
print(prime)
s_prime=set(prime[:5])
print(s_prime)

[2, 3, 5, 7, 11, 13, 17, 19]
{2, 3, 5, 7, 11}

In [45]:
# 22. Check if two sets are identical.
s=set(range(1,11))
ss_diff=s.symmetric_difference(s_even)
print(ss_diff)
print(s_odd)
if ss_diff == s_odd:
    print("Identical sets")
else:
    print("Non-identical sets")

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
Identical sets

In [46]:
# 23. Create a frozen set.
fs=frozenset(range(1,11))
print(fs)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [47]:
# 24. Check if a set is disjoint with another set.
if s_odd.isdisjoint(s_even):
    print("Disjoint sets")
else:
    print("Non-disjoint sets")

Disjoint sets

In [48]:
# 25. Create a set of squares of numbers from 1 to 5.
s_sq=set([n**2 for n in range(1,6)])
print(s_sq)

{1, 4, 9, 16, 25}

In [49]:
# 26. Filter out all even numbers from a set.
s_orig=set(range(1,21))
print(s_orig)
s_filter=set([n for n in s_orig if n%2==0])
print(s_filter)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [50]:
# 27. Multiply all elements in a set by 2.
s_multiply=set([n*2 for n in s_orig])
print(s_multiply)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40}

In [51]:
# 28. Create a set of random numbers.
import random
s_random=set(random.sample(range(1,100), 20))
print(s_random)

{4, 9, 15, 16, 23, 25, 31, 42, 46, 57, 68, 71, 73, 78, 81, 83, 90, 91, 92, 95}

In [52]:
# 29. Check if a set is empty.
s_empty=set(range(1,10))
print(s_empty)
s_empty.clear()
print(s_empty)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [57]:
# 30. Create a nested set (hint: use frozenset).
s_random.update(fs)
print(s_random)
print(type(fs))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 23, 25, 31, 42, 46, 57, 68, 71, 73, 78, 81, 83, 90, 91, 92, 95, frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})}
<class 'frozenset'>

In [58]:
# 31. Remove an element from a set using the discard method.
s = set(range(1,11))
print(s)
s.discard(5)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [60]:
# 32. Compare two sets.
s1 = set(range(1,11))
s2 = set(range(1,13))
if s1 == s2:
    print("same sets")
else:
    print("non-identical")

non-identical

In [61]:
# 33. Create a set from a string.
s_string=set("Create a set from a string".split())
print(s_string)

{'from', 'a', 'Create', 'string', 'set'}

In [67]:
# 34. Convert a set of strings to a set of integers.
s_string=set(str(n) for n in range(1,11))
print(s_string)
int_num=set(int(n) for n in str_num)
print(int_num)

{'4', '3', '10', '7', '6', '9', '5', '8', '1', '2'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [68]:
# 35. Convert a set of integers to a set of strings.
s_string=set(str(n) for n in int_num)
print(s_string)

{'4', '3', '10', '7', '6', '9', '5', '8', '1', '2'}

In [69]:
# 36. Create a set from a tuple.
t=tuple(range(1,10))
s_tuple=set(t)
print(s_tuple)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [70]:
# 37. Convert a set to a tuple.
t_tuple=tuple(s_tuple)
print(t_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [71]:
# 38. Find the maximum value in a set.
max_set=max(s_tuple)
print(max_set)

9

In [72]:
# 39. Find the minimum value in a set.
min_set=min(s_tuple)
print(min_set)

1

In [74]:
# 40. Create a set from user input.
s_input=set(input("Enter comma separated input: ").split(","))
print(s_input)

Enter comma separated input:  1,2,3,4,5,6,7

{'4', '3', '7', '6', '5', '1', '2'}

In [75]:
# 41. Check if the intersection of two sets is empty.
if s_even.isdisjoint(s_odd):
    print("Null intersection")

Null intersection

In [77]:
# 42. Create a set of the first 5 Fibonacci numbers.
l=range(1,6)
f=[]
f.append(l[0])
f.append(l[1])
for i in range(2,6):
    f.append(f[i-1]+f[i-2])
s_fib=set(f)
print(s_fib)

{1, 2, 3, 5, 8, 13}

In [85]:
# 43. Remove duplicates from a list using sets.
l=[n for n in range(1,6)]
l = l*2
print(l)
s = set(l)
print(s)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

In [94]:
#44. Check if two sets have the same elements, regardless of their count
s1=set(range(1,10))
s2=set(range(1,13))
print(s1)
print(s2)
s_diff = s2.difference(s1)
empty_set=set()
if s_diff == empty_set:
    print("Two sets have same elements")
else:
    print("Few elements donot match")

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Few elements donot match

In [95]:
# 45. Create a set of the first `n` powers of 2.
s_power = set([2**n for n in range(1,10)])
print(s_power)

{32, 64, 2, 128, 4, 256, 512, 8, 16}

In [99]:
# 46. Find the common elements between a set and a list.
s1 = set(range(1,10))
l1 = list(range(1,20))
print(s1)
print(l1)
s2 = set(l1)
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
# 47. Create a set of the first `n` triangular numbers.
triangular=[]
s = set(range(1,10))
for n in s:
    sum=0
    for i in range(1,n+1):
        sum+=i
    triangular.append(sum)
s_triangular=set(triangular)
print(s_triangular)

{1, 3, 36, 6, 10, 45, 15, 21, 28}

In [2]:
# 48. Check if a set contains another set as a subset.
s_nested=set([frozenset({1,2}), frozenset({3,4})])
print(s_nested)
dummy_set=frozenset()
for s in s_nested:
    if type(s) == type(dummy_set):
        print("nested")
        break
    else:
        print("not nested")

{frozenset({3, 4}), frozenset({1, 2})}
nested

In [4]:
# 49. Create a set of alternating 1s and 0s of length `n`.
# You cannot have repetitive elements. No matter what, you only get {1,0}
s=set()
for n in range(1,11):
    if n%2==0:
        s.add(1)
    else:
        s.add(0)
print(s)

{0, 1}

In [9]:
# 50. Merge multiple sets into one.
s1=set([1,2,3])
s2=set([4,5,6])
s3=set([7,8,9])
s3=s3.union(s2)
s3=s3.union(s1)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}