In [1]:
# 1. Create a tuple with integers from 1 to 5.
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [2]:
# 2. Access the third element of a tuple.
t1 = tuple(range(1,11))
print(t1[2])

3

In [9]:
# 3. Find the length of a tuple without using the `len()` function.
cnt=0
for n in t1:
    cnt += 1
print(cnt)
cnt = 0
[cnt:=cnt+1 for n in t1]
print(cnt)

10
10

In [10]:
# 4. Count the occurrences of an element in a tuple.
ele=3
print(t1.count(ele))

1

In [11]:
# 5. Find the index of the first occurrence of an element in a tuple.
ele = 3
print(t1.index(ele))

2

In [12]:
# 6. Check if an element exists in a tuple.
ele = 3
if ele in t1:
    print(f"{ele} is in tuple {t1}")
else:
    print(f"{ele} donot exist")

3 in tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [13]:
# 7. Convert a tuple to a list.
l1 = list(t1)
print(l1)
# 8. Convert a list to a tuple.
t2 = tuple(l1)
print(t2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
# 9. Unpack the elements of a tuple into variables.
x,y,z = (11,12,13)
print(f"{x}, {y}, and {z}")

11, 12, and 13

In [15]:
# 10. Create a tuple of even numbers from 1 to 10.
l2 = [n for n in range(1,10) if n % 2 == 0]
t2 = tuple(l2)
print(t2)

(2, 4, 6, 8)

In [16]:
# 11. Create a tuple of odd numbers from 1 to 10.
l3 = [n for n in range(1,10) if n % 2 != 0]
t3 = tuple(l3)
print(t3)

(1, 3, 5, 7, 9)

In [17]:
# 12. Concatenate two tuples.
t4 = t2 + t3
print(t4)

(2, 4, 6, 8, 1, 3, 5, 7, 9)

In [18]:
# 13. Repeat a tuple three times.
t5 = 3*t2
print(t5)

(2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8)

In [20]:
# 14. Check if a tuple is empty.
temp = ()
if temp == ():
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [23]:
# 15. Create a nested tuple.
t6 = ((t2,) + (t3,))
print(t6)

((2, 4, 6, 8), (1, 3, 5, 7, 9))

In [24]:
# 16. Access the first element of a nested tuple.
print(t6[0])

(2, 4, 6, 8)

In [25]:
# 17. Create a tuple with a single element.
t7 = (1,)
print(t7)

(1,)

In [27]:
# 18. Compare two tuples.
t8 = (1,)
if t7 == t8:
    print("tuples are equal")
else:
    print("tuples not equal")

tuples are equal

In [29]:
# 19. Delete a tuple
del(t7)
print(t7)

NameError: name 't7' is not defined

In [30]:
# 20. Slice a tuple.
h1 = t2[:2]
print(h1)

(2, 4)

In [34]:
# 21. Find the maximum value in a tuple.
max = 0
[max := n for n in t2 if n >= max]
print(max)

8

In [35]:
# 22. Find the minimum value in a tuple.
import sys
min = sys.maxsize
[min := n for n in t2 if n <= min]
print(min)

2

In [37]:
# 23. Convert a string to a tuple of characters.
s = "datascience"
l = list(s)
print(l)
t8 = tuple(l)
print(t8)

['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']
('d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e')

In [42]:
# 24. Convert a tuple of characters to a string.
l2 = list(t8)
print(l2)
s1 = ""
s1 = s1.join(l2)
print(s1)

['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']
datascience

In [43]:
# 25. Create a tuple from multiple data types.
l3=[1,2,"datascience", [3,4,5]]
t9 = tuple(l3)
print(t9)

(1, 2, 'datascience', [3, 4, 5])

In [45]:
# 26. Check if two tuples are identical.
t9 = (1,2)
t10 = (1,2)
if t9 == t10:
    print("identical")
else:
    print("non-identical")

identical

In [46]:
# 27. Sort the elements of a tuple.
t1 = (1,3,2,4,5,8,6,7)
l1 = list(t1)
l1.sort()
t2 = tuple(l1)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [49]:
# 28. Convert a tuple of integers to a tuple of strings.
l2 = [str(n) for n in l1]
print(l2)
t3 = tuple(l2)
print(t3)

['1', '2', '3', '4', '5', '6', '7', '8']
('1', '2', '3', '4', '5', '6', '7', '8')

In [51]:
# 29. Convert a tuple of strings to a tuple of integers.
l4 = list(t3)
print(l4)
l5 = [int(n) for n in l4]
print(l5)

['1', '2', '3', '4', '5', '6', '7', '8']
[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
# 30. Merge two tuples.
t4 = t2 + t3
print(t4)

(1, 2, 3, 4, 5, 6, 7, 8, '1', '2', '3', '4', '5', '6', '7', '8')

In [58]:
# 31. Flatten a nested tuple.
t1 = (1,2),
t2 = (3,4),
t3 = t1 + t2
print(t3)
l4 = []
for t in t3:
    if type(t) == type(t3):
        for n in t:
            l4.append(n)
t4 = tuple(l4)
print(t4)

((1, 2), (3, 4))
(1, 2, 3, 4)

In [3]:
# 32. Create a tuple of the first 5 prime numbers.
l = [1]
for n in range(2,50):
    isprime=True
    for i in range(2,n):
        if n % i == 0:
            isprime=False
            break
    if isprime:
        l.append(n)
pt = tuple(l[:5])
print(l)
print(pt)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
(1, 2, 3, 5, 7)

In [10]:
# 33. Check if a tuple is a palindrome.
t1 = ('n', 'o', 'o', 'n')
t2 = ('n', 'o', 'o', 'n')
l2 = list(t2)
l2_rev=l2[::-1]
t2_rev = tuple(l2_rev)
if t1 == t2_rev:
    print("palindrome")
else:
    print("not a palindrome")

palindrome

In [13]:
# 34. Create a tuple of squares of numbers from 1 to 5.
l = [n**2 for n in range(1,6)]
print(l)
t_sq=tuple(l)
print(t_sq)

[1, 4, 9, 16, 25]
(1, 4, 9, 16, 25)

In [15]:
# 35. Filter out all even numbers from a tuple.
t1 = tuple([n for n in range(1,21) if n%2 == 0] )
print(t1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [16]:
# 36. Multiply all elements in a tuple by 2.
t2 = tuple([n for n in range(1,11)])
print(t2)
l2 = list(t2)
t3 = tuple([n*2 for n in l2])
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [19]:
# 37. Create a tuple of random numbers.
import random
l2 = random.sample(range(1,100), 10)
print(l2)
t2 = tuple(l2)
print(t2)

[81, 77, 58, 47, 25, 72, 79, 32, 52, 18]
(81, 77, 58, 47, 25, 72, 79, 32, 52, 18)

In [22]:
# 38. Check if a tuple is sorted.
import random
t1 = tuple(random.sample(range(1,100), 10))
print(t1)
l1 = list(t1)
l2 = sorted(l1)
print(l2)
t2 = tuple(l2)
if t1 == t2:
    print("tuple is already sorted")
else:
    print("tuple is not sorted")

(79, 42, 69, 5, 51, 57, 63, 70, 39, 13)
[5, 13, 39, 42, 51, 57, 63, 69, 70, 79]
tuple is not sorted

In [25]:
# 39. Rotate a tuple to the left by `n` positions.
t1 = tuple(range(1,10))
print(t1)
n=int(input("Enter 'n' for position shift: "))
l1=list(t1)
l1_left=l1[:n]
l1_right=l1[n:]
l2=l1_right+l1_left
print(l2)
t2=tuple(l2)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Enter 'n' for position shift:  4

[5, 6, 7, 8, 9, 1, 2, 3, 4]
(5, 6, 7, 8, 9, 1, 2, 3, 4)

In [27]:
# 40. Rotate a tuple to the right by `n` positions.
t1 = tuple(range(1,10))
print(t1)
n=int(input("Enter 'n' for position shift: "))
l1=list(t1)
l1_right=l1[n:]
l1_left=l1[:n]
l2=l1_right+l1_left
print(l2)
t2=tuple(l2)
print(t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Enter 'n' for position shift:  4

[5, 6, 7, 8, 9, 1, 2, 3, 4]
(5, 6, 7, 8, 9, 1, 2, 3, 4)

In [31]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
l = list(range(1,6))
print(l)
f = []
f.append(l[0])
f.append(l[1])
for n in range(2,6):
    f.append(f[n-1]+f[n-2])
print(f)
tf = tuple(f)
print(tf)

[1, 2, 3, 4, 5]
[1, 2, 3, 5, 8, 13]
(1, 2, 3, 5, 8, 13)

In [32]:
# 42. Create a tuple from user input.
t1=tuple(input("Enter comma separated input: ").split(","))
print(t1)

Enter comma separated input:  1,2,3,4,5

('1', '2', '3', '4', '5')

In [35]:
# 43. Swap two elements in a tuple.
t=(1,2)
print(t)
l=list(t)
l[1],l[0]=l[0],l[1]
t2=tuple(l)
print(t2)

(1, 2)
(2, 1)

In [36]:
# 44. Reverse the elements of a tuple.
t1=tuple(range(1,6))
t2=t1[::-1]
print(t2)

(5, 4, 3, 2, 1)

In [37]:
# 45. Create a tuple of the first `n` powers of 2.
t1=tuple([2**n for n in range(1,11)])
print(t1)

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

In [39]:
# 46. Find the longest string in a tuple of strings.
s = "Find the longest string in a tuple of strings"
t1=tuple(s.split())
print(t1)
max_len=0
max_str=""
for i in t1:
    if len(i) > max_len:
        max_len=len(i)
        max_str=i
print(max_str)

('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings')
longest

In [40]:
# 47. Find the shortest string in a tuple of strings.
s = "Find the shortest string in a tuple of strings"
t1=tuple(s.split())
print(t1)
min_len=99999
min_str=""
for i in t1:
    if len(i) < min_len:
        min_len=len(i)
        min_str=i
print(min_str)

('Find', 'the', 'shortest', 'string', 'in', 'a', 'tuple', 'of', 'strings')
a

In [41]:
# 48. Create a tuple of the first `n` triangular numbers.
l = [n for n in range(1,10)]
print(l)
triangular = []
for n in l:
    sum = 0
    for s in range(0,n+1):
        sum += s
    triangular.append(sum)
t1=tuple(triangular)
print(t1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 3, 6, 10, 15, 21, 28, 36, 45)

In [43]:
# 49. Check if a tuple contains another tuple as a subsequence
t1=(1,2),
t2=(3,4),
t3=t1+t2
print(t3)
for t in t3:
    if type(t) == type(t3):
        print("We have tuple as subsequence")
        break
    else:
        print("There is no tuple as subsequence")

((1, 2), (3, 4))
We have tuple as subsequence

In [45]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n=int(input("Enter length of tuple: "))
l=[]
for i in range(1,n+1):
    if i%2==0:
        l.append(1)
    else:
        l.append(0)
t=tuple(l)
print(t)

Enter length of tuple:  5

[0, 1, 0, 1, 0]
(0, 1, 0, 1, 0)